.my-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  .btn-primary {
    margin-top: 20px;
    background-color: #a2c3bb;
    color: black;
  }

  input{
    border: 1px solid black;
  }
  